

@media (max-width: 1399px) {
 
}


@media (max-width: 1199px) {
    .main__sidebar {
        transform: translate(-100% ,0);
        transition: 0.3s;
    }
    .sidebar-active .main__sidebar {
        transform: translate(0 ,0);
    }

    .main-section__inner {
        padding-left: 0;
    }
    .sidebar__toggler {
        display: block;
    }

    #scrollUp {
        display: none !important;
    }
    .mobile-bar {
        display: block;
    }

    .main__body__inner {
        padding-bottom: 130px !important;
    }
}


@media (max-width: 991px) {
    
}


@media (max-width: 768px) {
    .transaction-box__filter .submit {
        width: initial;
        padding: 8px 20px;
        min-height: 38px;
        font-size: 12px;
        border-radius: 8px;
    }


    .overview-chart__title h4 {
        font-size: 16px;
    }
    .input-x.nice-select.sml-use {
        font-size: 12px;
        width: 79px;
        min-height: 28px;
        border-radius: 2px;
        padding: 6px;
    }
    .input-x.nice-select::after {
        height: 5px;
        width: 5px;
        margin-top: -7px;
        border-width: 1px;
        right: 10px;
    }
    .overview-chart__box {
        padding: 17px 15px;
        border-radius: 12px;
    }
    .overview-chart__title {
        margin: 0 0 20px;
    }
}


@media (max-width: 575px) {
    .m-h-p-d {
        font-size: 16px;
    }
    .main__header__inner {
        padding: 16px 23px;
    }
    .m_h_r_i-menu {
        gap: 7px;
    }
    .main__header__right {
        gap: 13px;
    }
    .m_h_r_i-menu__item {
        height: 30px;
        width: 30px;
        border-radius: 4px;
        font-size: 13px;
    }
    .m_h_user > a > .txt {
        display: none;
    }
    .m_h_user > a {
        padding: 0;
    }
    .m-hello-row .h2 {
        font-size: 20px;
    }
    .m-card-row {
        padding: 17px 15px;
        border-radius: 12px;
    }
    .m-card-row__title {
        margin: 0 0 15px;
    }

    .m-table-box {
        padding: 17px 15px;
        border-radius: 12px;
    }
    .search-x .input {
        width: 90px;
    }
    .m-table-box__title .right {
        margin-left: -80px;
    }
    .mbl-100\% {
        width: 100%;
    }


    .my-card__wrapper {
        padding: 17px 15px;
        border-radius: 12px;
    }
    .my-card__wrapper h4 {
        font-size: 14px;
    }
    .my-card__title .m-c-t__status {
        gap: 7px;
        font-size: 14px;
    }
    .checkbox-switch {
        height: 16px;
        width: 32px;
    }
    .checkbox-switch::after {
        height: 12px;
    }
    .my-card__title .right .button {
        padding: 10px 18px;
        min-height: 38px;
        border-radius: 8px;
        font-size: 12px;
    }
    .my-card__balance-view__title {
        padding: 14px 15px;
    }
    .my-card__balance-view__body__inner {
        padding: 15px 15px;
    }
    .my-card__bt-buttons {
        flex-direction: column;
    }
    .my-card__title .right {
        gap: 11px;
    }


    .profile-box-cont {
        padding: 17px 15px;
        border-radius: 12px;
    }

    .profile__info-form__bottom .button {
        padding: 6px 20px;
        font-size: 12px;
        min-height: 38px;
    }

    .sign-form__title .s__logo {
        margin: 0 0 20px;
        width: 130px;
    }
    .sign-form__title h3 {
        font-size: 24px;
        margin: 0 0 12px;
    }
    .sign-form__main {
        --bs-gutter-x: 13px;
    }
    .sign-form__title {
        margin: 0 0 23px;
    }
    .sign-form {
        padding: 50px 15px;
    }
    .sign-form__title p {
        font-size: 14px;
    }


    .t_u_a_modal-content {
        padding: 20px;
        border-radius: 12px;
    }
    .t_u_a_modal-content h2 {
        font-size: 18px;
        margin: 0 0 15px;
    }
    .t_u_a_modal-content h3 {
        font-size: 16px;
        margin: 0 0 8px;
    }
    .t_u_a_modal-content p {
        margin: 0 0 19px;
        font-size: 13px;
    }
    .t_u_a_modal-content h4 {
        font-size: 14.5px;
    }
    .t_u_a_modal-content .r-bx {
        margin: 0 0 13px;
        padding: 10px;
        border-radius: 10px;
    }
    .t_u_a_modal-content .r-bx p {
        margin: 0 0 8px;
    }
    .t_u_a_modal-content .button {
        min-height: 36px;
        font-size: 12px;
        padding: 5px 16px;
    }
    .input-x.nice-select.sml-use::after {
        margin-top: -3px;
    }

    .dash-3-welcome__left h2 {
        font-size: 24px;
        margin: 0 0 6px 0;
    }
    .dash-3-welcome__left p {
        font-size: 14px;
        margin: 0 0 0 3px;
    }
    .dash-3-welcome__bln {
        flex-direction: column;
        align-items: center;
        gap: 18px;
        padding: 15px 15px;
    }
    .dash-3-welcome__bln .left {
        text-align: center;
    }
    .dash-3-welcome__bln .left h3 {
        font-size: 24px;
        margin: 0 0 6px;
    }
    .dash-3-welcome__bln .left p {
        font-size: 18px;
        font-weight: 500;
        margin: 0;
    }

    .market-dash__title h4 {
        font-size: 16px;
    }
    .market-dash__item__icon {
        height: 36px;
        width: 36px;
    }
    .market-dash__item__tc h3 {
        font-size: 14px;
        margin: 0 0 4px;
    }
    .market-dash__item__tc h3 .sm {
        font-size: 8px;
        margin-left: 5px;
    }
    .market-dash__item__tc h4 {
        font-size: 10px;
        margin: 0;
    }
    .market-dash__item__tc h4 [class*="st"] {
        font-weight: 400;
        margin-left: 2px;
        font-size: 8px;
    }
    .market-dash__item {
        padding: 11px 10px;
        gap: 7px;
        --i-border-width: 5px;
        border-radius: 15px;
        border-radius: 8px;
    }
    .market-dash__title {
        margin: 0 0 14px;
    }
}


@media (max-width: 370px) {
    .mobile-bar {
        padding: 15px 0;
    }

    .m-dash__item {
        padding: 18px 14px;
        gap: 15px;
    }
    .m-dash__item__icon {
        width: 45px;
        height: 45px;
    }
    .m-dash__item__tc h3 {
        font-size: 25px;
        margin: 0 0 10px;
    }
    .m-dash__item__tc h5 {
        font-size: 14px;
    }
    .main__header__inner {
        padding: 15px 15px;
    }
    .main__body__inner {
        padding: 20px 15px;
    }

    .profile__core p {
        font-size: 12px;
    }


    .t_u_a_modal-content {
        padding: 18px 15px;
        border-radius: 10px;
    }


    .coin-dash__tp__icon {
        width: 45px;
        height: 45px;
    }
    .coin-dash {
        padding: 18px 14px;
    }
    .coin-dash__tp {
        gap: 15px;
    }
    .coin-dash__tp__tc h3 {
        font-size: 25px;
        margin: 0 0 10px
    }
    .coin-dash__tp__tc p {
        font-size: 14px;
    }
    .coin-dash__chart {
        height: 65px;
        margin-top: 15px;
    }
    .coin-dash__state {
        margin-top: 12px;
    }
    .coin-dash__state__p {
        font-size: 14px;
        margin: 0 0 10px;
    }
    .coin-dash__state h3 {
        font-size: 24px;
    }
    .overview-chart__title h4 {
        font-size: 13px;
    }
    .overview-chart__title .rang {
        font-size: 11px;
        gap: 6px;
    }
    .input-x.nice-select.sml-use::after {
        margin-top: -3px;
    }

    .market-dash__item__row [class*="col-"] {
        width: 100%;
    }

}
