/*-----------------------------------=========Main-Style-Sheet=========----------------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
:root {
  --theme__color1: #0170B9;
  --theme__color2: #28B446;
  --theme__color3: #FBBB00;
  --theme__color4: #2182F5;
  --poppins: 'Poppins', sa bnns-serif;
}
*,::before,::after {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 1.5;
  background-color: #F5F5F5;
  color: #6D6D6D;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: var(--poppins);
}
a, a:active, a:focus, a:active, a:hover {
  text-decoration:none !important;
  color: inherit;
}
input{
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover,
a:focus,
input:focus,
input:hover,
select:focus,
select:hover,
select:active,
textarea:focus,
textarea:hover,
button:focus {
  outline: none;
}
::placeholder {
  opacity: 1;
}
:focus::placeholder {
  opacity: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed; /* Prevents HTML tables from becoming too wide */
  width: 100%;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
iframe {
  width: 100%;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 700;
  color: #333333;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
  margin-bottom: 15px;
}
p:last-child{
  margin: 0;
}
.main-wrap {
  width: 100%;
  overflow: hidden;
}
@media (min-width: 1600px) {
  .container {
    max-width: 1500px;
  }
}


/* --preloader-- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--theme__color1);
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
/* --preloader-end-- */


/* ---main-section--- */
.main-section {

}
.main-section__inner {
  padding-left: 240px;
}

.main__sidebar {
  width: 240px;
  height: 100vh;
  background: var(--theme__color1);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
}

.main__side {

}
/* ---main-section---end */



/* ---main-sidebar--- */
.main__sidebar {
  display: flex;
  flex-direction: column;
  z-index: 110;
}
.main__sidebar__inner {
  height: 100%;
  overflow: auto;
}
.main__sidebar__title {
  padding: 34px 22px;
  display: flex;
  justify-content: center;
}
.sidebar__logo {
  width: 163px;
}
.sidebar__logo img {

}

.sidebar-menu {

}
.sidebar-menu > ul {

}
.sidebar-menu > ul > li {

}
.sidebar-menu > ul > li > a {
  padding: 15px 22px;
  gap: 15px;
  display: flex;
  align-items: center;
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.6);
}
.sidebar-menu > ul > li > a.active,
.sidebar-menu > ul > li > a:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}
.sidebar-menu > ul > li > a > .icon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.sidebar-menu > ul > li > a > .icon img {

}
.sidebar-menu > ul > li > a > .txt {

}

.sidebar__submenu {

}
.sidebar__submenu > ul {

}
.sidebar__submenu > ul > li {

}
.sidebar__submenu > ul > li > a {
  padding: 10px 38px;
  gap: 7px;
  font-size: 12px;
  display: flex;
  align-items: center;
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.6);
}
.sidebar__submenu > ul > li > a.active,
.sidebar__submenu > ul > li > a:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}
.sidebar__submenu > ul > li > a .icon {

}
.sidebar__submenu > ul > li > a .icon img {

}
.sidebar__submenu > ul > li > a .txt {

}
/* ---main-sidebar---end */



/* ---main__side--- */
.main__side {

}
.main__side__inner {

}
/* ---main__side---end */



/* ---main__header--- */
.main__header {
  background: #fff;
}
.main__header__inner {
  padding: 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__header__left {
  gap: 10px;
  display: flex;
  align-items: center;
}
.sidebar__toggler {
  font-size: 18px;
  color: var(--theme__color1);
  display: none;
}
.m-h-p-d {
  font-size: 20px;
  color: var(--theme__color1);
  font-weight: 500;
}

.main__header__right {
  gap: 22px;
  display: flex;
  align-items: center;
}
.m_h_r_i-menu {
  gap: 13px;
  display: flex;
}
.m_h_r_i-menu__item {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #F7F7F7;
  color: #B3B7C2;
}
.m_h_user {

}
.m_h_user > a {
  padding: 8px;
  font-size: 14px;
  gap: 7px;
  border-radius: 50px;
  font-weight: 400;
  color: #334155;
  display: flex;
  background: rgba(33, 128, 245, 0.1);
}
.m_h_user > a > .avatar {
  height: 24px;
  width: 24px;
  border-radius: inherit;
}
.m_h_user > a > .avatar img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: inherit;
}
.m_h_user > a > .txt {
  display: flex;
  gap: 4px;
  align-items: center;
}
.m_h_user > a > .txt i {
  font-size: 10px;
  color: #B3B7C2;
}
/* ---main__header---end */



/* ---mobile-bar--- */
.mobile-bar {
  padding: 25px 0;
  background: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  background: #fff;
  z-index: 90;
  width: 100%;
  display: none;
}
.mobile-bar__inner {
  max-width: 700px;
  margin: 0 auto;
}
.mobile-bar__menu {

}
.mobile-bar__menu > ul {
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile-bar__menu > ul > li {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.mobile-bar__menu > ul > li > a {
  font-size: 12px;
  font-weight: 500;
  color: #6D6D6D;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobile-bar__menu > ul > li > a.active,
.mobile-bar__menu > ul > li > a:hover {
  color: var(--theme__color1);
}
.mobile-bar__menu > ul > li > a > .icon {
  width: 28px;
  height: 28px;
  margin: 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-bar__menu > ul > li > a > .icon svg {

}
.mobile-bar__menu > ul > li > a > .icon svg [fill="#292D32"] {
  transition: 0.3s;
}
.mobile-bar__menu > ul > li > a.active > .icon svg [fill="#292D32"] {
  fill: var(--theme__color1);
}
/* ---mobile-bar---end */


/* ---main__body--- */
.main__body {
  
}
.main__body__inner {
  padding: 23px;
  background: #F5F5F5;
}

.mb-default {
  margin-bottom: 24px;
}
/* ---main__body---end */


/* ---m-hello-row--- */
.m-hello-row {

}
.m-hello-row .h2 {
  font-size: 24px;
  font-weight: 400;
}
/* ---m-hello-row---end */


/* ---m-dash-row--- */
.m-dash-row {

}
.m-dash-row > [class*="col"] {
  display: flex;
  flex-direction: column;
}
.m-dash__item {
  padding: 28px 24px;
  gap: 24px;
  --i-border-width: 5px;
  border-radius: 15px;
  background: #fff;
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.m-dash__item--bd-green {
  border-left: var(--i-border-width) solid var(--theme__color2);
}
.m-dash__item--bd-yellow {
  border-left: var(--i-border-width) solid var(--theme__color3);
}
.m-dash__item--bd-blue {
  border-left: var(--i-border-width) solid var(--theme__color4);
}
.m-dash__item--bg-green-light {
  background: #E9F7EC;
}
.m-dash__item--bg-yellow-light {
  background: #FFF8E5;
}
.m-dash__item--bg-blue-light {
  background: #E9F3FE;
}
.m-dash__item--bg-green {
  background: var(--theme__color2);
  color: #fff;
}
.m-dash__item--bg-yellow {
  background: var(--theme__color3);
  color: #fff;
}
.m-dash__item--bg-blue {
  background: var(--theme__color4);
  color: #fff;
}
.m-dash__item__icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.m-dash__item__icon--sq {
  border-radius: 10px;
}
.m-dash__item__icon img {
  border-radius: inherit;
}
.m-dash__item__tc {

}
.m-dash__item__tc h3 {
  font-size: 30px;
  margin: 0 0 18px;
  font-weight: 600;
}
.m-dash__item__tc h5 {
  font-size: 16px;
  font-weight: 400;
  color: #6D6D6D;
}
/* ---m-dash-row---end */


/* ---m-card-row--- */
.m-card-row {
  padding: 24px;
  border-radius: 15px;
  background: #fff;
}
.m-card-row__title {
  margin: 0 0 20px;
}
.m-card-row__title h4 {
  font-size: 18px;
  font-weight: 500;
}

.m-card__row-rw {

}
.mp-card-column {

}
.mp-card {

}
.mp-card .card__img {

}

.m-card__row-rw-mdl {

}
.m-card__row-rw-mdl .button {
  margin: 0 0 16px;
  width: 100%;
}
.m-card__row-rw-mdl h5 {
  font-size: 12px;
  font-weight: 400;
  color: #667085;
}
.m-card__frm {

}
/* ---m-card-row---end */


/* ---single-input-x--- */
.input-x__wrapper {
  --bs-gutter-x: 15px;
  --bs-gutter-y: var(--bs-gutter-x);
}
.label-x {
  font-size: 14px;
  margin: 0 0 6px;
  width: 100%;
  font-weight: 500;
  color: rgba(51, 51, 51, 0.8);
}
.x-label-bt {
  font-size: 8px;
  margin-top: 7px !important;
}
.x-label-bt.label-bt-red {
  color: #FF0000;
}
.check-label-x {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  display: flex;
  align-items: center;
  gap: 8px;
}
.check-label-x .checkbox {
  
}
.frm-p {
  font-size: 14px;
}
.single-input-x {
  width: 100%;
}
.input-x-outer {
  width: 100%;
  position: relative;
}
.input-x-outer .right-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translate(0,-50%);
  z-index: 5;
}
.number-pre-select {
  gap: 6px;
  padding: 0 15px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  height: 100%;
  border-right: 1px solid #D0D5DD;
  border-radius: 8px 0 0 8px;
  background: rgba(1, 111, 185, 0.1);
}
.number-pre-select .f-image {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.number-pre-select .f-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: inherit;
}
.number-pre-select .nice-select {
  background: transparent;
  padding-right: 0;
}
.number-pre-select .nice-select::after {
  display: none;
}
.number-pre-select ~ .input-x {
  padding-left: 100px;
}
.input-x {
  padding: 10px 14px;
  font-size: 16px;
  min-height: 44px;
  border-radius: 8px;
  border: 1px solid #D0D5DD;
  color: #B3B7C2;
  width: 100%;
}
.input-x.nice-select {
  display: flex;
  align-items: center;
}
.input-x.nice-select::after {
  height: 7px;
  width: 7px;
  margin-top: -5px;
  border-width: 1px;
}
.input-x.input-x-drop-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-x-dropdown-menu {
  padding: 14px;
  min-width: 320px;
  background: #fff;
  border: none;
  filter: drop-shadow(0px 4px 40px rgba(0, 0, 0, 0.25));
}
.m-currency-ul {

}
.m-currency-ul li {

}
.m-currency-ul li a {
  font-size: 14px;
  padding: 10px 12px;
  gap: 11px;
  border-radius: 5px;
  font-weight: 500;
  display: flex;
  align-items: center;
  transition: 0.3s;
}
.m-currency-ul li a.active,
.m-currency-ul li a:hover {
  background: rgba(1, 111, 185, 0.1);
}
.m-currency-ul li a .icon {
  height: 30px;
  width: 30px;
}
.m-currency-ul li a .icon .img {

}
.m-currency-ul li a .txt {

}


.iti__flag {background-image: url("images/flags.png");}
.iti {
  width: 100%;
}
.iti--separate-dial-code .iti__selected-flag {
  border-right: 1px solid #D0D5DD;
  border-radius: 8px 0 0 8px;
  background: rgba(1, 111, 185, 0.1);
}
.iti__country-list {
  /* width:300px; */
}
.iti--separate-dial-code .iti__selected-dial-code {
	margin-left: 8px;
	font-size: 14px;
}
/* ---single-input-x---end */


/* ---m-table-box--- */
.m-table-box {
  padding: 24px;
  border-radius: 15px;
  background: #fff;
}
.m-table-box--bordered {
  border: 1px solid rgba(51, 51, 51, 0.2);
}
.m-table-box__title {
  margin: 0 0 15px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.m-table-box__title .left {

}
.m-table-box__title h4 {
  font-size: 18px;
  margin: 0 0 13px;
  font-weight: 500;
}   
.m-table-box__title p {
  font-size: 14px;
  margin: 0 0 20px;
}
.m-table-box__title .ex-button {
  display: flex;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  color: #667085;
}
.m-table-box__title .ex-button .ex-down {

}
.m-table-box__title .right {
  margin-left: -130px;
}
.search-x {
  position: relative;
}
.search-x .search-icon {
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0,-50%);
  color: #B3B7C2;
}
.search-x .input {
  padding: 2px 10px 2px 31px;
  min-height: 30px;
  font-size: 12px;
  color: #B3B7C2;
  background: rgba(217, 217, 217, 0.2);
  border-radius: 5px;
  width: 130px;
  border: none;
}


.mc-table-outer {
  background: rgba(1, 112, 185, 0.05);
  border-radius: 5px;
}
.mc-table {

}
.mc-table__row {
  display: flex;
}
.mc-table__column {

}
.mc-table__title {
  border-radius: 5px 5px 0 0;
  background: rgba(1, 112, 185, 0.1);
}
.mc-table__title .mc__column {
  padding: 5px 17px;
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  min-height: 50px;
  display: flex;
  align-items: center;
}
.mc-table__title .mc__column .txt {

}
.mc-table__title .mc__column .status-arrow {
  font-size: 11px;
  margin-left: 8px;
  color: #667085;
}
.mc-table__title .mc__column .more {
  color: #667085;
  padding: 0 9px;
}
.mc-table__body {
  min-height: 141px;
  position: relative;
}
.mc-table__body .no-row-flag {
  font-size: 16px;
  font-weight: 500;
  color: #667085;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}



/* mc-table-str-1 */
.mc-table-str-1 {
  overflow: auto;
}
.mc-table-str-1 .mc-table {
  min-width: 900px;
}
.mc-table-str-1 .mc__column {
  width: 20%;
}
.mc-table-str-1 .mc__column:last-child {
  justify-content: flex-end;
}


/* mc-table-str-2 */
.mc-table-str-2 {
  overflow: auto;
}
.mc-table-str-2 .mc-table {
  min-width: 1100px;
}
.mc-table-str-2 .mc__column {
  width: 20%;
}
.mc-table-str-2 .mc__column:nth-child(1) {
  width: 8%;
}
.mc-table-str-2 .mc__column:nth-child(2) {
  width: 10%;
}
.mc-table-str-2 .mc__column:nth-child(3) {
  width: 10%;
}
.mc-table-str-2 .mc__column:last-child {
  width: 15%;
  justify-content: flex-end;
}


/* mc-table-str-3 */
.mc-table-str-3 {
  overflow: auto;
}
.mc-table-str-3 .mc-table {
  min-width: 1100px;
}
.mc-table-str-3 .mc__column {
  width: 20%;
}
.mc-table-str-3 .mc__column:nth-child(1) {
  width: 8%;
}
.mc-table-str-3 .mc__column:nth-child(2) {
  width: 10%;
}
.mc-table-str-3 .mc__column:nth-child(3) {
  width: 10%;
}
.mc-table-str-3 .mc__column:last-child {
  width: 15%;
}


/* mc-table-str-4 */
.mc-table-str-4 {
  overflow: auto;
}
.mc-table-str-4 .mc-table {
  min-width: 1350px;
}
.mc-table-str-4 .mc__column {
  width: 20%;
}
.mc-table-str-4 .mc__column:nth-child(1) {
  width: 8%;
}
.mc-table-str-4 .mc__column:last-child {
  width: 15%;
  justify-content: flex-end;
}



.m-pagination {
  margin: 10px 0 0;
  display: flex;
  gap: 13px;
  align-items: center;
  justify-content: flex-end;
}
.m-pagination p {
  font-size: 14px;
  color: #667085;
  margin: 0;
}
.m-pagination .buttons {
  display: flex;
  gap: 7px;
}
.m-pagination .arr-button {
  font-size: 13px;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  transition: 0.3s;
  background: #F7F7F7;
  color: #B3B7C2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.m-pagination .arr-button:hover {
  background: var(--theme__color1);
  color: #fff;
}
/* ---m-table-box---end */



/* ---my-card__wrapper--- */
.my-card__wrapper {
  padding: 24px;
  border-radius: 15px;
  background: #fff;
}
.my-card__title {
  margin: 0 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.my-card__title .left {

}
.my-card__title h4 {
  font-size: 18px;
  font-weight: 500;
}
.my-card__title .right {
  gap: 24px;
  display: flex;
  align-items: center;
}
.my-card__title .m-c-t__status {
  gap: 9px;
  font-size: 16px;
  font-weight: 500;
  color: #333333;
  display: flex;
}
.my-card__title .m-c-t__status .checkbox {

}
.my-card__title .right .button {

}
.my-card__wrapper h4 {
  font-size: 18px;
}

.my-card__balance-view {
  background: rgba(1, 111, 185, 0.1);
  border-radius: 8px;
}
.my-card__balance-view__title {
  padding: 19px 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.my-card__balance-view__title h4 {
  font-size: 16px;
  font-weight: 500;
}
.my-card__balance-view__title .ind-icon {
  transition: 0.3s;
}
.my-card__balance-view__title:not(.collapsed) .ind-icon {
  transform: rotate(-90deg);
}
.my-card__balance-view__body {

}
.my-card__balance-view__body__inner {
  padding: 21px 21px;
  border-top: 1px solid #fff;
}
.my-card__balance-view__body p {

}


.my-card__bottom {
  padding-top: 19px;
  margin-top: 30px;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
}
.my-card__bt-buttons {
  gap: 17px;
  display: flex;
}
.my-card__bt-buttons .button {

}
/* ---my-card__wrapper---end */



/* ---transaction-box__wrapper--- */
.transaction-box__wrapper {
  padding: 24px;
  border-radius: 15px;
  background: #fff;
}
.transaction-box__filter {

}
.transaction-box__filter .submit {
  width: 100%;
  padding: 11px 30px;
  min-height: 44px;
} 
/* ---transaction-box__wrapper---end */



/* ---profile-row--- */
.profile-row {

}
.profile-row [class*="col"] {
  display: flex;
  flex-direction: column;
}
.profile-row [class*="col"] > * {
  flex-grow: 1;
}
.profile-box-cont {
  padding: 24px;
  border-radius: 15px;
  background: #fff;
}
.profile__core {

}
.profile__core h3 {
  font-size: 18px;
  margin: 0 0 18px;
  font-weight: 500;
}
.profile__core p {
  font-size: 14px;
}

.profile-info-buttons {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.profile-info-buttons .button {

}
.profile-info-buttons .button-l-out {
  min-height: 46px;
  padding: 10px 16px;
}
.profile__info-form {

}
.profile__info-form__title {
  margin: 0 0 20px;
}
.profile__info-form__title h4 {
  font-size: 18px;
  font-weight: 500;
}
.profile__info-form__main {

}
.profile__info-form__bottom {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
}
.profile__info-form__bottom .button {
  padding: 10px 31px;
  font-size: 16px;
  min-height: 52px;
  font-weight: 500;
}
/* ---profile-row---end */



/* ---sign-section--- */
.sign-section {

}
.sign-section__inner {

}
.sign-section__row {
  min-height: 100vh;
}
.sign-section__row > [class*="col"] {
  display: flex;
  flex-direction: column;
}
.sign-section__row [class*="col"] > * {
  flex-grow: 1;
}

.sign-form {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 14px;
}
.sign-form__inner {
  max-width: 400px;
}
.sign-form__title {
  margin: 0 0 30px;
}
.sign-form__title .s__logo {
  margin: 0 0 35px;
  width: 175px;
  display: block;
}
.sign-form__title .s__logo img {

}
.sign-form__title h3 {
  font-size: 30px;
  margin: 0 0 18px;
  font-weight: 600;
}
.sign-form__title p {
  color: #333333;
}
.sign-form__main {
  --bs-gutter-x: 17px;
  --bs-gutter-y: var(--bs-gutter-x);
}
.sign-form .submit-button {
  padding: 10px 31px;
  font-size: 16px;
  min-height: 44px;
  font-weight: 500;
}


.sign-illustration {
  padding: 50px;
  background: rgba(1, 112, 185, 0.1);
  border-radius: 15px;
  margin: 17px 17px 17px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.sign-illustration .img {

}
/* ---sign-section---end */


/* ---topup-agree-modal--- */
.t_u_a_modal {

}
.t_u_a_modal .modal-dialog {
  max-width: 600px;
}

.t_u_a_modal-content {
  padding: 30px;
  background: #FFFFFF;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.t_u_a_modal-content h2 {
  font-size: 24px;
  margin: 0 0 20px;
  font-weight: 600;
}
.t_u_a_modal-content h3 {
  font-size: 20px;
  margin: 0 0 12px;
  font-weight: 500;
}
.t_u_a_modal-content p {
  margin: 0 0 25px;
}
.t_u_a_modal-content h4 {
  font-size: 18px;
  font-weight: 500;
}
.t_u_a_modal-content .r-bx {
  margin: 0 0 20px;
  padding: 15px;
  border-radius: 10px;
  background: #FF00000D;
} 
.t_u_a_modal-content .r-bx p {
  color: #FF0000;
  margin: 0 0 12px;
}
.t_u_a_modal-content .r-bx h4 {
  color: #FF0000;
}
.t_u_a_modal-content  .button {
  min-height: 41px;
  font-size: 14px;
  padding: 10px 20px
}
/* ---topup-agree-modal---end */



/* ---m-coin-dash-row--- */
.m-coin-dash-row {

}
.coin-dash {
  --i-border-width: 5px;
  padding: 28px 24px;
  border-radius: 15px;
  background: #fff;
}
.coin-dash__bd--bit {
  border-left: var(--i-border-width) solid #F89118;
}
.coin-dash__bd--eth {
  border-left: var(--i-border-width) solid #8890B7;
}
.coin-dash__bd--the {
  border-left: var(--i-border-width) solid #009393;
}
.coin-dash__tp {
  gap: 24px;
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.coin-dash__tp__icon {

}
.coin-dash__tp__icon .img {

}
.coin-dash__tp__tc {

}
.coin-dash__tp__tc h3 {
  font-size: 30px;
  margin: 0 0 18px;
  font-weight: 600;
}
.coin-dash__tp__tc p {
  font-size: 16px;
  font-weight: 400;
  color: #6D6D6D;
}
.coin-dash__chart {
  height: 82px;
  margin-top: 21px;
}
.coin-dash__chart .img {
  height: 100%;
  width: 100%;
}
.coin-dash__state {
  margin-top: 24px;
}
.coin-dash__state__p {
  font-size: 18px;
  margin: 0 0 17px;
  color: #28B446;
}
.coin-dash__state__p--red {
  color: #DC222F;
}
.coin-dash__state__p i {

}
.coin-dash__state h3 {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}
/* ---m-coin-dash-row---end */


/* ---overview-chart__box--- */
.overview-chart__box {
  padding: 24px;
  border-radius: 15px;
  background: #fff;
}
.overview-chart__title {
  margin: 0 0 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.overview-chart__title .left {

}
.overview-chart__title h4 {
  font-size: 18px;
  margin: 0 0 13px;
  font-weight: 500;
}
.overview-chart__title .right {

}
.overview-chart__title .rang {
  font-size: 14px;
  color: #334155;
  display: flex;
  align-items: center;
  gap: 10px;
}
.overview-chart__title .rang .txt {

}
.input-x.nice-select.sml-use {
  font-size: 14px;
  font-weight: 400;
  color: #334155;
  width: 111px;
  min-height: 36px;
  border-radius: 2px;
}

.overview-chart__main {

}
.overview-chart__main .chart-img {
  width: 100%;
}
/* ---overview-chart__box---end */


/* ---dash-3-welcome--- */
.dash-3-welcome {
  align-items: center;
}
.dash-3-welcome__left {
  
}
.dash-3-welcome__left h2 {
  font-size: 35px;
  margin: 0 0 10px 0;
  font-weight: 500;
}
.dash-3-welcome__left p {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin: 0 0 0 5px;
}
.dash-3-welcome__bln {
  padding: 23px 20px;
  background: var(--theme__color1);
  color: #fff;
  border-left: 5px solid rgba(1, 65, 185, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 15px;
}
.dash-3-welcome__bln .left {

}
.dash-3-welcome__bln .left h3 {
  font-size: 30px;
  margin: 0 0 8px;
  font-weight: 500;
  color: #fff;
}
.dash-3-welcome__bln .left p {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}
.dash-3-welcome__bln .right {

}
.dash-3-welcome__bln .s-button {
  font-size: 16px;
  min-height: 44px;
  padding: 5px 20px;
  border-radius: 8px;
  font-weight: 500;
  background: #fff;
  color: var(--theme__color1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* ---dash-3-welcome---end */


/* ---market-dash--- */
.market-dash {

}
.market-dash__title {
  margin: 0 0 17px;
}
.market-dash__title h4 {
  font-size: 18px;
  font-weight: 500;
}
.market-dash__item {
  padding: 15px 18px;
  gap: 18px;
  --i-border-width: 5px;
  border-radius: 15px;
  background: #fff;
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.market-dash__item--bd-the {
  border-left: var(--i-border-width) solid #009393;
}
.market-dash__item--bd-bit {
  border-left: var(--i-border-width) solid #F89118;
}
.market-dash__item--bd-eth {
  border-left: var(--i-border-width) solid #8890B7;
}
.market-dash__item--bd-usd-c {
  border-left: var(--i-border-width) solid #009393;
}
.market-dash__item__icon {
  height: 50px;
  width: 50px;
  flex-shrink: 0;
}
.market-dash__item__icon .img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.market-dash__item__tc {

}
.market-dash__item__tc h3 {
  font-size: 20px;
  font-weight: 600;
}
.market-dash__item__tc   h3 .sm {
  font-size: 12px;
  font-weight: 400;
  color: #6D6D6D;
  display: inline-block;
  margin-left: 8px;
} 
.market-dash__item__tc h4 {
  font-size: 14px;
  font-weight: 600;
}
.market-dash__item__tc h4 [class*="st"] {
  font-weight: 400;
  display: inline-block;
  margin-left: 4px;
}
.market-dash__item__tc h4 .st-red {
  color: #DC222F;
}
.market-dash__item__tc h4 .st-green {
  color: #28B446;
}
/* ---market-dash---end */


